.first-color {
    color: #807E48;
}

.second-color {
    color: #ECEAB3;
}

.first-bg {
    background: #ECEAB3;
    color: #000;
}

.second-bg {
    background: #807E48;
    color: #fff;
}

.third-bg {
    background: #27374D;
    color: #fff;
}

.bg-radial-gradient {
    background-image: radial-gradient(circle at 12% 55%, rgba(236, 150, 243, .15), hsla(0, 0%, 100%, 0) 20%), radial-gradient(circle at 85% 33%, rgba(236, 234, 179, .175), hsla(0, 0%, 100%, 0) 25%);
}

.first-border-color {
    border-color: #807E48;
}

.scrollerInner {
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(-40%);
    }
}

.customUnderline {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #fff 50%);
}

.customUnderline2 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ECEAB3 50%);
}